@model MealFridge.Models.ViewModels.Meals

@if (Model == null)
{
    <p>Unable to generate a meal plan at this time</p>
}
else
{
    <div class="row m-lg-2 mb-lg-4 shadow-lg bg-secondary">
        <div class="col-sm-3 bg-secondary">
            <div class="card shadow-lg rounded-lg">
                <h3 class="card-title text-center">
                    Day
                </h3>
            </div>
        </div>
        <div class="col-sm-3 bg-primary">
            <div class="card shadow-lg rounded-lg">
                <h3 class="card-title text-center">
                    Breakfast
                </h3>
            </div>
        </div>
        <div class="col-sm-3 bg-success">
            <div class="card shadow-lg rounded-lg">
                <h3 class="card-title text-center">
                    Lunch
                </h3>
            </div>
        </div>
        <div class="col-sm-3 bg-warning">
            <div class="card shadow-lg rounded-lg">
                <h3 class="card-title text-center">
                    Dinner
                </h3>
            </div>
        </div>
    </div>

    @for (var i = 0; i < Model.Breakfast.Count(); ++i)
    {

        <div class="row m-lg-2 mb-lg-4">
            <div class="col-sm-3 bg-secondary">
                <div class="card shadow-lg rounded-lg">
                    <h2 class="card-title text-center">
                        @Model.Breakfast[i].Day.DayOfWeek
                    </h2>
                </div>
            </div>
            <div class="col-sm-3 bg-primary" id="@Model.Breakfast[i].Day.DayOfWeek-@Model.Breakfast[i].MealType">
                <partial name="MealCard" model="@Model.Breakfast[i]" />
            </div>
            <div class="col-sm-3 bg-success" id="@Model.Lunch[i].Day.DayOfWeek-@Model.Lunch[i].MealType">
                <partial name="MealCard" model="@Model.Lunch[i]" />
            </div>
            <div class="col-sm-3 bg-warning" id="@Model.Dinner[i].Day.DayOfWeek-@Model.Dinner[i].MealType">
                <partial name="MealCard" model="@Model.Dinner[i]" />
            </div>
        </div>

    }
}