@model FridgeAndRecipeViewModel

<div class="modal show" id="recipe-modal" tabindex="-1" role="dialog" aria-labelledby="modal_title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-lg modal-dialog-scrollable w-100" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_title">Recipe Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="modal-main" class="card" display="inline-block">
                    <div id="modal-spinner"></div>
                    @if (Model != null)
                    {
                        <h4 class="card-title"> @Model.GetRecipes.Title </h4>
                        <img class="card-img-top" src="@("https://spoonacular.com/recipeImages/" + Model.GetRecipes.Image)" alt="Recipe details image" />
                        <div class="card-body" >
                            <h7 class="card-subtitle">Required Ingredients and amounts per serving </h7>
                            <p>Calories: @Math.Round(Convert.ToDouble(Model.GetRecipes.Calories), 0)  Fat: @Math.Round(Convert.ToDouble(Model.GetRecipes.TotalFat), 0) Carbs: @Math.Round(Convert.ToDouble(Model.GetRecipes.Carbs), 0) Protein: @Math.Round(Convert.ToDouble(Model.GetRecipes.Protein), 0)</p>
                            <ul class="list-group">
                                @foreach (var ingredient in Model.GetRecipes.Recipeingreds)
                                {
                                    <li class="list-group-item-light">
                                        @ingredient.Ingred.Name:  @ingredient.Amount @ingredient.ServingUnit
                                    </li>
                                }
                            </ul>
                            <div class="card-group">
                                @if (Model.GetIngredients.Count > 0)
                                {
                                <div class="card">
                                    <p> Common Ingredients:</p>
                                    @foreach (var i in Model.GetIngredients)
                                    {
                                        <ul class="fa-ul">
                                            <li>
                                                @i.Name
                                            </li>
                                        </ul>
                                    }
                                    <button class="btn-outline-success fa fa-utensil-spoon" onclick="commonInventory('@Model.StringIt()', -1)"> Cooked </button>
                                </div>
                                }
                               
                            </div>
                        </div>
                        <div class="card-footer">
                            
                            Please check out the recipe <a href="@Model.GetRecipes.Summery" target="_blank"> here </a> for full instructions
                        </div>
                    }
                    @if (Model == null)
                    {
                        <h4 class="card-title"> No details availible for this recipe </h4>
                        <div class="card-body">
                            <h7 class="card-subtitle">Our sincerest apologies for not having details on this scrumptious recipe! </h7>
                        </div>
                    }
                </div>
            </div>
            <div class="modal-footer" id="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="button-cart" class="btn btn-outline-success" data-dismiss="modal"><i class="fa fa-shopping-basket"></i></button>
            </div>
        </div>
    </div>
</div>