@model Recipe

<div class="modal show" id="recipe-modal" tabindex="-1" role="dialog" aria-labelledby="modal_title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_title">Recipe Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="modal-main" class="card">
                    <div id="modal-spinner"></div>
                    @if (Model != null)
                    {
                        <h4 class="card-title"> @Model.Title </h4>
                        <img class="card-img-top" src="@Model.Image" alt="Recipe details image"></img>
                        <div class="card-body">
                            <h7 class="card-subtitle">Required Ingredients and amounts </h7>
                            <ul class="list-group">
                                @foreach (var ingredient in Model.Recipeingreds)
                                {
                                    <li class="list-group-item-light">
                                        @ingredient.Amount
                                    </li>
                                }
                            </ul>
                            <div class="card-footer">
                                Please check out the recipe <a href="@Model.Summery" target="_blank"> here </a> for full instructions
                            </div>
                            <ul class="d-none" id="hidden-ingredients">
                                @foreach (var ingredient in Model.Recipeingreds)
                                {
                                    <li> <p> @ingredient.Ingred.Name </p> </li>
                                }
                            </ul>
                        </div>
                    }
                    @if (Model == null)
                    {
                        <h4 class="card-title"> No details availible for this recipe </h4>
                        <div class="card-body">
                            <h7 class="card-subtitle">Our sincerest apologies for not having details on this scrumptious recipe! </h7>
                        </div>
                    }
                </div>
            </div>
            <div class="modal-footer" id="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="button-cart" class="btn btn-outline-success" data-dismiss="modal"><i class="fa fa-shopping-basket"></i></button>
            </div>
        </div>
    </div>
</div>