@model IEnumerable<Recipe>

@if (Model != null)
{
    @foreach (var r in Model)
    {
        var temp = r.Savedrecipes.FirstOrDefault() ?? new Savedrecipe()
        {
            Shelved = false,
            Favorited = false,
        };
        @if (temp.Shelved ?? false)
        {
            continue;
        }
       
<div class="card shadow-lg">
    <button class="btn" type="button" onClick="getDetails(@r.Id.ToString())">
        <img class="card-img-top" src="@r.Image" alt="Recipe Image">
        <div class="card-body">
            <h4 class="card-title"> @r.Title </h4>
        </div>
    </button>
    
    <button type="button"
            class="btn btn-outline-success btn-sm"
            style="display:inline-block"
            onclick="addFavorite('@r.Id')">
        Favorite
    </button>
   
    <button type="button"
            class="btn btn-outline-danger btn-sm"
            style="display:inline-block"
            onclick="addShelf('@r.Id')">
        Shelf it
    </button>
    @if (temp.Favorited ?? false)
    {
        <p style="display:inline-block"
           class="text-md-right text-danger"> <i class="fa fa-heart"> </i> </p>
    }
</div>
    }
}
@if (Model == null)
{
    <p>No results found!</p>
}