@model Search
<body style="background-color: aliceblue;">
    @{ ViewData["Title"] = "Find an expedition"; }
    <h1>Search</h1>

    <div style="border: 1px solid black; padding:5px; margin-right:75%; background-color:whitesmoke">
        <p>Looking for a Challenge? <br /> Find Expeditions that have never been completed:</p>
        <form asp-controller="Home" asp-action="FindPeaks" method=get>
            <div>
                <label> Season  </label>
                <select asp-for="Season">
                    <option value="Any">Any</option>
                    <option value="Winter">Winter</option>
                    <option value="Spring">Spring</option>
                    <option value="Summer">Summer</option>
                    <option value="Autumn">Autumn</option>
                </select>
                <button type="submit">Search</button>
            </div>
        </form>
    </div>
    <br />
    <p>Search Expeditions</p>
    <div style="border: 1px solid black; padding:5px; margin-right:35%; background-color:whitesmoke">
        <form asp-controller="Home" asp-action="Find" method=get>
            <div>
                <label asp-for="Year"> Year  </label>
                <input asp-for="Year" min="1920" max="2019">  
                <label asp-for="Peak"> Peak  </label>
                <input asp-for="Peak"> 
                <label asp-for="Season"> Season  </label>
                <select asp-for="Season">
                    <option value="Any"> Any</option>
                    <option value="Winter"> Winter</option>
                    <option value="Spring">Spring</option>
                    <option value="Summer"> Summer</option>
                    <option value="Autumn"> Autumn</option>
                </select>
                <br />
                <label asp-for="TerminationReason">Termination Reason</label>
                <select asp-for="TerminationReason">
                    <option value="Any">Any</option>
                    <option value="Success (main peak)">Success</option>
                    <option value="Bad weather (storms, high winds)">Bad weather (storms, high winds)</option>
                    <option value="Accident (death or serious injury)">Accident (death or serious injury)</option>
                    <option value="Did not attempt climb">Did not attempt climb</option>
                    <option value="Route technically too difficult, lack of experience, strength, or motivation">Route technically too difficult, lack of experience, strength, or motivation</option>
                    <option value="Unknown">Unknown</option>
                    <option value="Lack of time">Lack of time</option>
                    <option value="Lack (or loss) of supplies or equipment">Lack (or loss) of supplies or equipment</option>
                    <option value="Did not reach base camp">Did not reach base camp</option>
                    <option value="Illness, AMS, exhaustion, or frostbite">Illness, AMS, exhaustion, or frostbite</option>
                    <option value="Bad conditions (deep snow, avalanching, falling ice, or rock)">Bad conditions (deep snow, avalanching, falling ice, or rock)</option>
                    <option value="Attempt rumoured">Attempt rumoured</option>
                    <option value="Other">Other</option>
                </select>
                <button class="btn btn-success" type="submit"> Search </button>
            </div>
        </form>
        
    </div>
    @if (Model != null)
    {
    <p>@Model.Count Results Returned</p>
    <div class="text-center p-2">
        <table class="table table-bordered table-striped table-sm table-dark">
            <thead>
                <tr>
                    <th>Year</th>
                    <th>Peak</th>
                    <th>Start Date</th>
                    <th>Success / Failure</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ExpeditionList)
                {
                <tr>
                    <td> @item.Year </td>
                    <td> @item.Peak.Name </td>
                    <td> @item.StartDate </td>
                    <td> @item.TerminationReason </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    }
</body>
