@model IEnumerable<Fridge>
@{ ViewBag.Title = "Inventory"; }

<body>
    <div class="container">
        <div class="row">
            <div class="col-8">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Find an ingredient(s) below:</h4>
                        <div class="input-group rounded-pill border border-dark shadow-lg">
                            <input class="form-control border-0 ml-3" id="ingredSearch" placeholder="Search for an ingredient" />
                            <div class="input-group-append">
                                <button type="button" title="search" class=" btn text-dark border-0" onclick="SearchByIngredientName()">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="fridge_main" class="card-columns">
                </div>
            </div>
            <div class="col-4">
                <h2 class="card-title text-center">Current Inventory</h2>
                <div id="fridge-table-main">
                    @if (Model.Count() < 1)
                    {
                        <div class="card shadow-lg">
                            <h6 class="card-title text-center">Inventory is currently empty!</h6>
                        </div>}
                    @if (Model.Count() > 0)
                    {

                        <table class="table" id="fridge">
                            <thead>
                                <tr>
                                    <th class="w-75"> Name </th>
                                    <th class="w-25"> Amount </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var i in Model)
                                {
                                    <tr id="@i.IngredId">
                                        <td class="w-75"> @i.Ingred.Name </td>

                                        <td class="w-25">
                                            <div class="btn-group btn-group-sm">
                                                <button type="button" title="Remove one" class="btn btn-outline-danger" id="btn-@i.IngredId" onclick="updateInventory('@i.Ingred.Id', -1)">
                                                    <i class="fa fa-minus"></i>
                                                </button>
                                                <button type="button" class="btn btn-light disabled">@i.Quantity</button>
                                                <button type="button" title="Add one" class="btn btn-outline-success" onclick="updateInventory('@i.Ingred.Id', 1)">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>}
                </div>

            </div>
        </div>
    </div>
</body>

@section Scripts{
    <script src="~/js/Fridge/Index.js"></script>
    <script asp-append-version="true" type="module" src="~/js/Fridge/GetNumberFromString.js"></script>
}