@model IEnumerable<Ingredient>

@if (Model.Count() == 0)
{
    <div class="card">
        <div class="card-body">
            <h6 class="card-title">No results found!</h6>
        </div>
    </div>
}
@if (Model != null)
{
    @foreach (var ingredient in Model)
    {
        var temp = ingredient.Restrictions.FirstOrDefault() ?? new Restriction()
        {
            Banned = false,
            Dislike = false,
        };
        @if (temp.Banned ?? false)
        {
            continue;
        }
        <div class="card">
            <div class="card-header">

                @if (temp.Dislike ?? false)
                {
                    <p class="text-right text-warning"> <i class="fa fa-flag"> </i> </p>
                }
            </div>
            <div class="card-body">
                <img src="@("https://spoonacular.com/cdn/ingredients_500x500/" + ingredient.Image)" alt="@ingredient.Name" class="card-img" />
            </div>
            <h6 class="card-title text-lg-center">@ingredient.Name</h6>
            <div class="card-footer">
                <div class="btn-group btn-group-sm">
                    <button type="button"
                            class="btn btn-outline-danger btn-sm"
                            style="display:inline-block"
                            onclick="banIngred('@ingredient.Id')"
                            id="banIngredBtn">
                        Cannot Have
                    </button>
                    <button type="button"
                            class="btn btn-outline-warning btn-sm"
                            style="display:inline-block"
                            onclick="hideIngred('@ingredient.Id')"
                            id="hideIngredBtn">
                        Dislike
                    </button>
                    <button type="button"
                            id="button-cart"
                            class="btn btn-outline-success"
                            onclick="addShopping('@ingredient.Id', 1)">
                        <i class="fa fa-shopping-basket"></i>
                    </button>
                    <button type="button"
                            onclick="unitQuantity('@ingredient.Id', 'inventory')"
                            title="Add one"
                            class="btn btn-outline-success">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
        </div>
    }
}